<div class="row">
    <div class="col-md-6">
       <h1>*ngIf</h1>
        <hr>

        <button type="button" class="btn btn-outline-success btn-block" (click)= "mostrar = !mostrar">Mostrar/Ocultar</button>
        <hr>
        <div *ngIf="mostrar" class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">{{frase.autor}}</div>
            <div class="card-body">
              <h5 class="card-title">{{ frase.mensaje }}</h5>
              <p class="card-text">escrito por {{ frase.autor }}</p>
          </div>
        </div>

    </div>
    <div class="col-md-6">
        <h1>*ngFor</h1>
        <hr>
        <ul class="list-group">
          <!--el arreglo comienza de 0, para que comience de uno se le aumenta i + 1 -->
          <li *ngFor="let persona of personajes; let i = index" class="list-group-item">{{ i }}. {{ persona }}</li>
        </ul>

    </div>
</div>
